
@-webkit-keyframes wave {
    from {
        -webkit-transform: none;
        transform: none
    }

    15% {
        -webkit-transform: translate3d(-20%,0,0) rotate3d(0,0,1,-10deg);
        transform: translate3d(-20%,0,0) rotate3d(0,0,1,-10deg)
    }

    30% {
        -webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,7deg);
        transform: translate3d(10%,0,0) rotate3d(0,0,1,7deg)
    }

    45% {
        -webkit-transform: translate3d(-15%,0,0) rotate3d(0,0,1,-10deg);
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-10deg)
    }

    60% {
        -webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg);
        transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg)
    }

    75% {
        -webkit-transform: translate3d(-5%,0,0) rotate3d(0,0,1,-2deg);
        transform: translate3d(-5%,0,0) rotate3d(0,0,1,-2deg)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes wave {
    from {
        -webkit-transform: none;
        transform: none
    }

    15% {
        -webkit-transform: translate3d(-20%,0,0) rotate3d(0,0,1,-10deg);
        transform: translate3d(-20%,0,0) rotate3d(0,0,1,-10deg)
    }

    30% {
        -webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,7deg);
        transform: translate3d(10%,0,0) rotate3d(0,0,1,7deg)
    }

    45% {
        -webkit-transform: translate3d(-15%,0,0) rotate3d(0,0,1,-10deg);
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-10deg)
    }

    60% {
        -webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg);
        transform: translate3d(10%,0,0) rotate3d(0,0,1,5deg)
    }

    75% {
        -webkit-transform: translate3d(-5%,0,0) rotate3d(0,0,1,-2deg);
        transform: translate3d(-5%,0,0) rotate3d(0,0,1,-2deg)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}



@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(.1,.1);
        transform: scale(.1,.1);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(.1,.1);
        transform: scale(.1,.1);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
        opacity: 0
    }
}