
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,:after,:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

::-moz-selection {
    background: #00ff62;
}

::selection {
    background: #00ff62;
}

body,html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: #24242c;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.5;
    width: 100%;
}

body.night,html.night {
    background-color: #171c28;
    color: #afafbf;
}

body.night ::-moz-selection,html.night ::-moz-selection {
    color: #36363c;
    background: #9dff00;
}

body.night ::selection,html.night ::selection {
    color: #36363c;
    background: #9dff00;
}

body.night .switch-wrapper .sun,html.night .switch-wrapper .sun {
    background: url(../img/switch/sunWhite.svg) no-repeat center;
    background-size: 100%;
}

body.night .switch-wrapper .moon,html.night .switch-wrapper .moon {
    background: url(../img/switch/moonwhite.svg) no-repeat center;
    background-size: 100%;
}

body.night .experience .job__time,body.night .footer__copyright,body.night .intro,body.night .skills .skillz__category__label,body.night .status,body.night a,body.night strong,html.night .experience .job__time,html.night .footer__copyright,html.night .intro,html.night .skills .skillz__category__label,html.night .status,html.night a,html.night strong {
    color: ivory;
}

body.night .section__content .underline-link:after,html.night .section__content .underline-link:after {
    background: ivory;
}
