
.featured-projects a:after {
    display: none
}

.featured-projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
    margin-left: -5%;
    width: 125%
}

@media screen and (max-width: 1280px) {
    .featured-projects .project {
        width:115%
    }
}

@media screen and (max-width: 1024px) {
    .featured-projects .project {
        width:105%
    }
}

@media screen and (max-width: 768px) {
    .featured-projects .project {
        width:100%;
        display: block;
        margin-bottom: 70px
    }
}


.featured-projects .project:last-of-type {
    margin-bottom: 0
}

.featured-projects .project__pic {
    max-width: 700px;
    overflow: visible;
    margin: 0
}

.featured-projects .project__pic a {
    display: block
}

.featured-projects .project__pic img {
    width: 100%;
    max-width: 100%;
    vertical-align: bottom
}

.featured-projects .project__caption {
    width: 130px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 30px
}

@media screen and (max-width: 768px) {
    .featured-projects .project__caption {
        width:100%;
        margin-top: 25px;
        margin-left: 0
    }
}

.featured-projects .project__name {
    margin-bottom: 10px;
}

.featured-projects .project__name a {
    font-weight: 700;
}

.featured-projects .project p {
    font-size: .90rem;
    line-height: 1.5;
}

.other-projects .project {
    max-width: 600px;
    margin-bottom: 50px;
}

.other-projects .project__name {
    margin-bottom: 10px;
}

.other-projects .project p {
    font-size: 1rem;
    margin-bottom: 20px
}

.other-projects .project__used__item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: inherit;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0
}

.other-projects .project__used__item:first-of-type {
    margin-left: 0
}




