
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.746), rgba(0, 0, 0, 0.746)), 
    url(../img/banner.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    overflow: hidden;
    color: ivory;
}

a {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    font-weight: 700;
    color: inherit
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

svg {
    width: 100%;
    height: 100%;
    fill: currentColor
}

img {
    max-width: 100%;
    vertical-align: middle
}

strong {
    font-weight: 700;
    color: #36363c
}

.emoji {
    display: inline-block;
    vertical-align: text-top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}



.intro {
    padding: 120px 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto
}

@media screen and (max-width: 630px) {
    .intro {
        padding:120px 70px
    }
}

@media screen and (max-width: 550px) {
    .intro {
        padding:120px 50px
    }
}

@media screen and (max-width: 480px) {
    .intro {
        padding:70px 50px
    }
}

.intro__hello,.intro__tagline {
    font-size: 2.5rem
}

@media screen and (max-width: 1024px) {
    .intro__hello,.intro__tagline {
        font-size:2.25rem
    }
}

@media screen and (max-width: 768px) {
    .intro__hello,.intro__tagline {
        font-size:2rem
    }
}

@media screen and (max-width: 550px) {
    .intro__hello,.intro__tagline {
        font-size:1.75rem
    }
}

@media screen and (max-width: 360px) {
    .intro__hello,.intro__tagline {
        font-size:1.5rem
    }
}

@media screen and (max-width: 330px) {
    .intro__hello,.intro__tagline {
        font-size:1.4rem
    }
}

.intro__hello .emoji,.intro__tagline .emoji {
    width: 40px;
    height: 40px
}

@media screen and (max-width: 1024px) {
    .intro__hello .emoji,.intro__tagline .emoji {
        width:35px;
        height: 35px
    }
}

@media screen and (max-width: 768px) {
    .intro__hello .emoji,.intro__tagline .emoji {
        width:30px;
        height: 30px
    }
}

@media screen and (max-width: 360px) {
    .intro__hello .emoji,.intro__tagline .emoji {
        width:25px;
        height: 25px
    }
}

.intro__hello {
    font-weight: 300
}

.intro__hello .wave-hand {
    background-image: url(../img/emojis/wave.png);
    margin-left: 10px;
    cursor: pointer;
}

.intro__hello .wave-hand.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.intro__hello .wave-hand.wave {
    -webkit-animation-name: wave;
    animation-name: wave;
}