




.intro__tagline {
    font-weight: 300;
    max-width: 700px
}

.intro__tagline .name {
    font-weight: 700
}

.intro__tagline .technologist {
    background-image: url(../img/emojis/technologist.png)
}

.intro__contact {
    font-size: 1.25rem;
    font-weight: 400
}

@media screen and (max-width: 550px) {
    .intro__contact {
        font-size:1rem
    }
}

.intro__contact .emoji.pointer {
    background-image: url(../img/emojis/pointright.png);
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: text-bottom
}

@media screen and (max-width: 550px) {
    .intro__contact .emoji.pointer {
        width:25px;
        height: 25px
    }
}

.intro__contact .highlight-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #007bff;
    box-shadow: inset 0 -3px 0 #007bff
}

.intro__contact .highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #007bff;
    box-shadow: inset 0 -33px 0 0 #007bff;
    color: #fff
}

.skills .skillz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width: 630px) {
    .skills .skillz {
        -ms-flex-wrap:wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width: 630px) {
    .skills .skillz__category {
        width:47%;
        margin-right: 5px;
        margin-bottom: 25px
    }
}

.skills .skillz__category__label {
    font-weight: 700;
    color: #36363c;
    text-transform: uppercase
}

.skills .skillz__category__item {
    margin: 3px 0;
    font-size: .9rem
}

.experience .jobs {
    margin-bottom: 100px
}

.experience .job {
    margin-bottom: 25px
}

.experience .job .time-place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .experience .job .time-place {
        display:block;
    }
}

.experience .job__company {
    font-weight: 700
}

.experience .job__time {
    font-size: .9rem;
    font-family: inherit;
}

@media screen and (max-width: 480px) {
    .experience .job__time {
        font-size:.8rem;
    }
}

.experience .arrow-link {
    font-size: 1.25rem;
}

.experience .arrow-link:after {
    width: 20px;
    height: 20px;
}
